<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./../components/navbar.ejs') %>
    <div class="container mx-auto">
      <div class="d-flex">
        <h4 class="flex-grow-1"><%= request.title %></h4>
        <button
          class="btn btn-danger"
          onclick="location.href='/requests/<%= request._id %>/edit'"
        >
          Edit
        </button>
      </div>
      <input type="hidden" value="<%= request.work_uid %>" id="request-id" />
      <div>Create: <%= request.create_datetime %></div>
      <div>Department in charge: <%= request.to_department ?? None %></div>
      <div>User: <%= request.userInfo.user_name %></div>
      <div><%= request.due_date %></div>
      <% var today = new Date() %>
      <div>
        <% if (status_msg) { %> <% if (status_msg.status == "over") { %>
        <div class="text-danger"><h5><%= status_msg.status_msg %></h5></div>
        <% } else if (status_msg.status == "completed") { %>
        <div><h5><%= status_msg.status_msg %></h5></div>
        <% } else if ( status_msg.status == "wait"){ %>
        <div class="">
          <h5><%= status_msg.status_msg %></h5>
        </div>
        <% } else { %>
        <div class="text-primary"><h5><%= status_msg.status_msg %></h5></div>
        <% } %> <% } %>
      </div>

      <div class="card my-2"><div class="m-2"><%= request.text %></div></div>

      <div class="">
        <h4>comments</h4>
        <div>
          <% for (var i =0; i < comments.length; i++){ %>
          <div class="d-flex">
            <div id="user-id" class="user_uid">
              <%= comments[i].userInfo.user_name ?? "unknown" %>:
            </div>
            <div class="mx-2 flex-grow-1"><%= comments[i].text %></div>
            <div class=""><%= comments[i].create_datetime %></div>
          </div>
          <% } %>
        </div>
        <div class="d-flex">
          <textarea
            name=""
            id="text"
            cols="30"
            rows="1"
            class="form-control align-self-start"
          ></textarea>
          <button
            class="align-self-start btn btn-primary mx-2"
            id="send"
            ,
            data-id="<%=request._id %>"
          >
            send
          </button>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $("#send").click(function () {
        console.log("new comments");
        var request_uid = this.dataset.id;
        $.ajax({
          method: "post",
          url: "/comments/add",
          data: {
            parent_uid: request_uid,
            text: $("#text").val(),
          },
        })
          .done(function (result) {
            console.log(result);
            $("#text").val("");
            window.location.reload();
          })
          .fail(function (err) {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
