<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./../components/navbar.ejs') %>
    <div class="container mx-auto">
      <div class="d-flex">
        <h4 class="flex-grow-1"><span id="title"><%= work.title %></span></h4>
        <button
          class="mx-2 btn btn-danger"
          onclick="location.href ='/works/<%= work._id %>/edit'"
        >
          Edit
        </button>
        <button
          class="mx-2 btn btn-outline-primary"
          onclick="location.href =`/requests/mode/add?work_uid=<%= work._id %>`"
        >
          Add New Request
        </button>
      </div>
      <div>
        Create datetime: <span id="due"><%= work.create_datetime %></span>
      </div>

      <div>Due Date: <span id="due"><%= work.due_date %></span></div>

      <div>user name: <span id="user-name"><%= user.user_name %></span></div>
      <div>
        Department: <span id="user-department"><%= user.department %></span>
      </div>
      <div class="card my-2">
        <div class="card-body">
          <span id="user-id"><%= work.work_text %></span>
        </div>
      </div>
    </div>
    <% var today = new Date() %>
    <div class="requests container my-5">
      <h4>Requests List</h4>
      <% for (var i =0; i < requests.length; i++){ %>

      <div class="d-flex">
        <div class="mr-2">
          <h5>
            <a
              href="/requests/<%= requests[i]._id %>"
              style="text-decoration: none; color: black"
              ><%= requests[i].title %></a
            >
          </h5>
        </div>
        <div class="mx-2"><%= requests[i].to_department %></div>
        <div class="mx-2"><%= requests[i].due_date %></div>
        <% if (requests[i].is_done) { %>
        <div class="text-primary">&#10004;</div>
        <% } else if (new Date(requests[i].due_date) < today) { %>
        <div>&#10071;</div>
        <% } else { %> <% } %>
      </div>
      <% } %>

      <div class="mt-5">
        <h4>Comments</h4>
        <% for (var i =0; i < comments.length; i++){ %>
        <div class="d-flex">
          <div><%= comments[i].userInfo.user_name %>: </div>
          <div><%= comments[i].text%></div>
        </div>
        <% } %>
        <form id="form">
          <div class="d-flex">
            <textarea
              name="text"
              id="text"
              cols="30"
              rows="1"
              class="form-control align-self-start"
            ></textarea>
            <button
              type="button"
              class="align-self-start btn btn-primary mx-2"
              id="send"
            >
              send
              <input
                type="hidden"
                value="<%=work._id %>"
                name="parent_uid"
                id="parent_uid"
              />
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $("#send").click(() => {
        data = $("#form").serialize();
        $.ajax({
          method: "post",
          url: "/comments/add",
          data: data,
        })
          .done(function (result) {
            console.log(result);
            $("#text").val("");
            window.location.reload();
          })
          .fail(function (err) {
            console.log(err);
          });
      });

      // $.ajax({
      //   method: "get",
      //   url: `/users/data/${$("#user-id").html()}`,
      // }).done((result) => {
      //   console.log(result);
      //   user = result.user;
      //   $("#user-name").text(user.user_name);
      //   $("#user-department").text(user.department);
      // });
    </script>
  </body>
</html>
