<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./../components/navbar.ejs') %>

    <div class="container mx-2" style="background-color: #eee">
      <div class="d-flex">
        <div class="flex-grow-1 d-flex">
          <h5><%= user.user_name%></h5>
          <div class="mx-3">(<%= user.id%>)</div>
        </div>

        <div>uid: <%= user._id%></div>

        <% if (role == "admin") { %>
        <button
          onclick="location.href='/users/<%=user._id%>/edit'"
          class="btn btn-danger"
        >
          Edit
        </button>
        <% } %>
      </div>
      <div>Department: <%= user.department%></div>
      <ul class="list-group list-group-flush"></ul>
    </div>
  </body>
</html>
