<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include('./../components/navbar.ejs') %>
    <div class="container mx-auto">
      <div class="d-flex">
        <h4 class="flex-grow-1">Users</h4>
        <% if (role == "admin") { %>
        <button
          class="btn btn-outline-primary"
          onclick="location.href ='/users/mode/add'"
        >
          Add
        </button>
        <% } %>
      </div>
      <div>
        <ul class="list-group list-group-flush">
          <% for (var i =0; i < users.length; i++){ %>
          <li class="list-group-item">
            <div class="d-flex">
              <div>
                <a href="/users/<%= users[i]._id %>" style="color: black"
                  ><h5><%= users[i].user_name %></h5></a
                >
              </div>
              <div class="mx-3">(<%= users[i].id %>)</div>
            </div>

            <div>department: <%= users[i].department ?? 'None' %></div>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
